/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/laradock
/config/app
.env
.env.backup
.env.example
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/nbproject/private/
composer.lock
/config/database.php
.idea/*
.history/*
/.vscode
/.phpintel/*
/.vscode
/bootstrap/cache/*
/config/app.php
/packages
/vendor
/public/new/scss
default.conf
entrypoint.sh
