/*form group*/

.form-group1 {
    margin-bottom: 5px !important;
    display: flex;
    line-height: 19px;
    border: 1px solid #a7a5a3;
    border-radius: 3px;
}

.form-group label {
    border: 1px solid #a7a5a3;
    padding: 0;
    margin-right: 10px;
    margin-bottom: 0;
    border-radius: 3px;
}

.form-group input {
    border: 1px solid #a7a5a3;
    border-radius: 3px;
    line-height: 26px;
}

.formlabel {
    width: 100%;
}

.form-input-medium {
    width: 90%;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.form-input-small {
    width: 81%;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.intake-form {
    padding-left: 0;
    padding-right: 0;
}

.form-radio {
    margin: 5px 30px -9px;
    width: 100%;
}

.intake-input {
    width: 62%;
}

.input-small {
    width: 40%;
}

.input-diet {
    width: 59%;
}

.form-diet {
    margin-left: 2%;
}

.number-input {
    width: 20% ! important;
}

.diet-label {
    width: 20% !important;
}

.form-group-inner.custom-4 label {
    width: 70px;
}

.width_small {
    width: 45%;
}

.custom-diet {
    margin-top: 14%;
}

.entry-label {
    width: 20%;
}

.width_big {
    width: 73%;
}

.intake-label {
    width: 30%;
}
/*form group ends*/

/*buttons*/

.priscribed-btn {
    margin-left: 16%;
}

button {
    border: 1px solid #ccc;
    border-radius: 3px;
}

.action-btn {
    margin-left: 44%;
}

.digits {
    color: #181818;
    text-shadow: 1px 1px 0px #FFF;
    background-color: #EBEBEB;
    border-top: 2px solid #FFF;
    border-right: 2px solid #FFF;
    border-bottom: 2px solid #C1C1C1;
    border-left: 2px solid #C1C1C1;
    border-radius: 4px;
    box-shadow: 0px 0px 2px #030303, inset 0px -20px 1px #DCDCDC;
}

.button {
    display: inline-block;
    margin: 2px;
    width: 37px;
    height: 30px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 4px;
}

.btn-minimize {
    background-color: transparent;
    border: none;
    font-size: 12px;
    color: #a1b9d2;
}

.btn-deafult {
    border: 1px solid #b9b9b9;
    background-color: #efeeee;
}
/*button ends*/

/*table start*/

table {
    border: 1px solid #ccc;
    width: 100%;
}

.table-quantative {
    width: 100%;
    display: block;
    overflow-y: scroll;
    border: 1px solid #ccc;
    height: 250px;
}

td {
    text-align: left;
    padding-top: 12px;
}

.title {
    width: 50%;
    font-size: 14px;
    font-family: arial;
}

.title-input {
    width: 40%;
    position: relative;
}

th {
    border: 1px solid #ccc;
}

.intake-table {
    height: 100%;
    background-color: white;
    font-size: 14px;
    color: #777373;
    border: 1px solid #ccc;
}

.title-intake {
    width: 50%;
    padding: 4px;
}

.intaketable {
    padding-right: 0 !important;
}

.newdiet-table {
    height: 240px;
    background-color: white;
    font-size: 14px;
    color: #777373;
    margin-top: 2%;
}

.title-diet {
    width: 50%;
    padding: 4px;
    background-color: #eceaea;
}

.newdiettable {
    padding-right: 0 !important;
    padding-left: 0;
}

.savediet-table {
    height: 342px;
    background-color: white;
    font-size: 14px;
    color: #777373;
    margin-top: 2%;
}

.savediettable {
    padding-right: 0 !important;
    padding-left: 0;
}

.Diet-tab {
    width: 100%;
}

.th-diet {
    background-color: #eceaea;
    width: 9%;
}
/*tabke ends*/

.leftright-container {
    background-color: #fff;
    border: 1px solid #ccc;
    width: 100%;
}

#inputclock {
    background-image: url(images/clock.png);
    background-position: right;
    padding-right: 5px;
    background-size: 15px;
    background-repeat: no-repeat;
}

.leftright-label {
    margin-right: 78%;
}

.checkbox-container {
    float: right;
    margin-top: -26%;
}

/* .container {
    padding-right: 0;
    padding-left: 0;
} */

.calculator {
    padding-left: 27px;
}