/*modal*/
.modal-header {
    background-color: #f8f9fa;
}

.modal .form-group label {
    border: none;
    margin-right: 0px;
}

.head-modal .form-input {
    width: auto;
}

.form-data-opdhistory .modal-body {
    background-color: #efebe7;
}

.laboratory-modal-content .form-input {
    width: auto;
    margin-right: 5px;
}

.laboratory-modal-content {
    background-color: #fff;
    padding: 5px;
    max-height: 350px;
    overflow: auto;
}

form#laboratory-request-submit {
    margin: 0;
}

.laboratory-modal-content .form-group {
    margin-bottom: 0;
}

.modal-footer .form-group .form-input {
    width: auto;
    margin-right: 5px;
}

.form-data-opdhistory .modal-footer {
    justify-content: space-between;
}

.form-modal input {
    width: auto;
    display: inline-block;
    vertical-align: middle;
    height: auto;
}

.modal-body select.form-input {
    width: 100%;
}

#diagnosis-obstetric-modal .modal-dialog {
    max-width: 600px;
}

.table .tittle-th {
    background-color: #f8f9fa;
    text-align: center;
}

.noborder-th {
    border: none !important;
}

.label-modal-phar {
    width: 15% !important;
}

.label-modal-consult {
    width: 15% !important;
}

.form-label-req {
    width: 20% !important;
}

.form-group-phar {
    margin-bottom: 5px;
    display: flex;
}

.btm-lab {
    margin-bottom: 15px !important;
}

.btm-consult {
    margin-bottom: 10px !important;
}


.btm-req {
    margin-bottom: 8px !important;
}

.top-req {

    margin-top: 5px !important;
    margin-bottom: 5px !important;
}

.modal-nav .nav-tabs {
    border-bottom: 1px solid #a7a5a3;
    background-color: #e4e4e4;
}

.modal-nav {
    width: 100%;
    border: 1px solid #c1bebe;
    margin-bottom: 8px;
}

.modal-nav .tab-content {
    min-height: 200px;
}

.modal-nav .tab-content .nav-link {
    padding: 0.2rem 0.5rem;
}

.form-check {
    margin-left: 14px;
    margin-bottom: 4px;
}

.list-unstyled {
    padding-left: 13px;
}

.scrollbar {
    background-color: #f8f9fa;
    float: left;
    height: 300px;
    margin-bottom: 25px;
    /*margin-left: 22px;*/
    margin-top: 17px;
    border: 1px solid #a9a6a6;
    /*width: 35%;*/
    overflow-y: scroll;
}

.force-overflow {
    min-height: 450px;
}

.patlab-list {
    min-height: 200px;
    max-height: 200px;
    overflow-y: scroll;
    border: 1px solid #ccc;
}

.label-modal-lab {
    width: 10% !important;
}

.form-group-radio {
    width: 15% !important;
}

.table-scroll {
    min-height: 400px;
    height: 400px;
    overflow: scroll;
    border: 1px solid #ccc;
    max-width: 100%;
}

.table-scroll-modal {
    min-height: 225px;
    height: 225px;
    overflow: scroll;
    border: 1px solid #ccc;
}

.table-scroll thead {
    background-color: #f8f9fa;
}

.dataTables_filter {
    margin-left: 8px;
}

.dataTables_filter input {
    margin-left: 36px;
    margin-top: 9px;
    border: 1px solid #8a8181;
}

.dataTables_filter {
    position: sticky;
    top: 0px;
    background: rgb(255, 255, 255);
    width: 100%;
    padding-left: 8px;
    margin: 0px;
}

.table-scroll-md {
    min-height: 500px;
    height: 500px;
    overflow-y: scroll;
    border: 1px solid #ccc;
    background-color: #fff;
}

.box__label__modal>label {
    padding: 3px 11px;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #000;
    font-size: .875rem;
    border: none;
    font-weight: 400;
}

.full-width {
    width: 100% !important;
    flex:0 0 100% !important; 
}

.table-extra-proc {
    min-height: 272px;
    height: 272px;
    overflow: scroll;
    border: 1px solid #ccc;
    max-width: 100%;
}

.table-modal {
    min-height: 225px;
    height: 225px;
    overflow: scroll;
    border: 1px solid #ccc;
    max-width: 100%;
}
